.find-badge {
  top: -5px;
  right: -5px;
}
.find-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find-icons__icon i {
  font-size: 35px;
}
.find-icons__icon span {
  margin-top: 18px;
}

.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: var(--horizontal-space) 0;
  margin: var(--horizontal-space) 0;
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--main-gray);
}
.recommended-friends span {
  margin: 100px 0;
  text-align: center;
  display: block;
  color: var(--main-gray);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 1px;
  height: 10px;
  background: var(--main-gray);
  margin: 0 5px;
}
.open-post__member-status {
  color: #ffb0e0;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__photo {
  position: relative;
}
.open-post__heart-count {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
