.welcome-header{margin: 90px 0; text-align: center; display: flex; flex-direction: column; align-items: center;}
.welcome-header_title{margin-bottom: 40px; font-size: 1.5rem;}
.welcome-header_text{width: 60%; opacity: 0.7;}

#login-form{display: flex; flex-direction: column; margin: 0 30px;}
#login-form input{padding: 15px 0; border: none; font-size: 1rem; margin-bottom: 25px;}
#login-form input::placeholder{color: rgba(0,0,0,.4);}
#login-form input:not([type="submit"]){border-bottom: 1px solid rgba(0,0,0,.2); transition: border-color .3s ease-in-out;}
#login-form input:not([type="submit"]):focus{border-color: var(--yellow);}
#login-form input[type="submit"]{background: var(--yellow); cursor:pointer; border-radius: 5px;}
#login-form a{text-align: center; font-size: 0.85rem; padding: 20px 0;}